@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
* {
  box-sizing: border-box;
}


.container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.button-wrap {
  position: relative;
  text-align: center;
  border:0px solid black;
  vertical-align: middle;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  float:left;
  margin:5px;
  width:100px;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button-label h4 {
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}



#one:checked + .button-label {
  background: #795548;
  color: #efefef;
}
/* #one:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
} */

#two:checked + .button-label {
  background: #795548;
  color: #efefef;
}


#three:checked + .button-label {
  background: #795548;
  color: #efefef;
}
#apart:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#opistel:checked + .button-label {
  background: #795548;
  color: #efefef;
}
#dan:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#dagagu:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#builla:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#sangga:checked + .button-label {
  background: #795548;
  color: #efefef;
}
#month:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#all:checked + .button-label {
  background: #795548;
  color: #efefef;
}
#no_admincost:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#yes_admincost:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#no_parking:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#yes_parking:checked + .button-label {
  background: #795548;
  color: #efefef;
}
#no_pet:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#yes_pet:checked + .button-label {
  background: #795548;
  color: #efefef;
}
#no_elevator:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#yes_elevator:checked + .button-label {
  background: #795548;
  color: #efefef;
}
#no_valcony:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#yes_valcony:checked + .button-label {
  background: #795548;
  color: #efefef;
}
#no_builtin:checked + .button-label {
  background: #795548;
  color: #efefef;
}

#yes_builtin:checked + .button-label {
  background: #795548;
  color: #efefef;
}
.optionlist:checked + .button-label{
  background: #795548;
  color: #efefef;
}
.hidden {
  display: none;
}
