.demo-layout-transparent {
}

.demo-layout-transparent .mdl-layout__header, .demo-layout-transparent .mdl-layout__drawer-button
	{
	/* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
	color: white;
}

i{
 color: black;
}

a:hover #joinlogin {
	color: #FF9800;
	font-weight: bold;
	cursor:pointer;
}

.demo-layout-transparent .mdl-layout__header {
	/* background-color: #795549; */
}


